<div style="width: 80%; margin: auto; height: 100px; border: 1px solid black;">

  <p class="">This is my test component with an empty class attribute</p>
  <select multiple>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
  </select>

</div>
