@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>This is my Test page</p>
<div class=""><span class="text-info">I'm inside a DIV with an empty class attribute</span></div>

<TestComponent></TestComponent>

